MONGODB_URI=
MONGODB_DB=kidex
IMGBB_API_KEY=

AUTH_SECRET=
KIDEX_ENFORCE_AUTH=true

SSO_CLIENT_ID=
SSO_CLIENT_SECRET=
SSO_BASE_URL=https://sso.doneisbetter.com
SSO_REDIRECT_URI=https://kidex.messmass.com/api/oauth/callback

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=https://kidex.messmass.com/api/auth/google/callback
